<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TaskMaster Lite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Nueva Tarea</ion-label>
    <ion-input [(ngModel)]="newTaskStr" placeholder="Ejem: Estudiar TypeScript"></ion-input>
    </ion-item>
    @if (errorMessage) {
      <ion-text color="danger">{{errorMessage}}</ion-text>
    }
    </ion-content>
    <ion-button expand="block" color="dark" (click)="addTask()" [disabled]="!isValidTitle()">Agregar Tarea</ion-button>

<ion-list>
  @for ( task of tasks; track task.id) {
    <ion-item>
    <ion-label>
      {{task.title}}
    </ion-label>
  </ion-item>
  }

</ion-list>


